body {
  font-family: "Nunito", Arial, sans-serif;
  font-size: 12px;
  background-color: #191970;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  background-color: #191970;
  padding: 25px;
}

.left nav {
}

.left-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.right-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

/* LOGO */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dd-logo {
  background: url(https://i.imgur.com/IwfT9qu.png) center center;
  height: 325px;
  width: 500px;
  background-size: cover;
}
/* 
Container @ Sections */
.dd-container{
padding-bottom: 70px;
}

/* SECTION HEADER STYLING */

.dd-header {
  padding: 20px;
}

.dd-header h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 36px;
}

.dd-header p {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 20px;
}

/* SECTION CONTENT BOXES */

.dd-three {
  display: flex;
  justify-content: center;
}

.dd-info {
  margin: 1%;
  width: 30%;
  display: block;
}

.dd-history-image {
  background: url(https://i.pinimg.com/originals/ff/64/ea/ff64ea86196b6f2f31a8bb30a2c344dc.jpg)
    center center;
  height: 300px;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dd-history-text {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.dd-history-text a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  min-height: 40px;
}

.dd-shoes-image {
  background: url(https://image.goat.com/crop/750/attachments/product_template_additional_pictures/images/016/284/350/original/466843_01.jpg.jpeg?1542744103)
    center center;
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dd-shoes-text {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.dd-shoes-text a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  min-height: 40px;
}

.dd-apparel-image {
  background: url(https://cdn-images.farfetch-contents.com/14/80/56/51/14805651_24994733_480.jpg)
    center center;
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dd-apparel-text {
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.dd-apparel-text a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  min-height: 40px;
}

/* HISTORY SECTION */

.dd-history-three {
  display: flex;
  justify-content: center;
}

.dd-history-info {
  margin: 1%;
  width: 30%;
  display: block;
}

.dd-history-box1 p {
  height: 300px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 17px;
}

.dd-history-box2 {
  background: url(https://cdn-img-3.wanelo.com/p/712/0e2/21c/d593e0a2aba04a959fea16e/x354-q80.jpg)
    center center;
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dd-history-box3 {
  background: url(https://cdn-img-3.wanelo.com/p/b68/feb/2c3/d130d2b40f17b9b3399530a/x354-q80.jpg)
    center center;
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SHOES SECTION */

.dd-shoes-three {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.dd-shoes-info {
  margin: 1%;
  width: 30%;
  display: block;
}

/* Flip Card */

.shoes-flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}

.shoes-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.shoes-flip-card:hover .shoes-flip-card-inner {
  transform: rotateY(180deg);
}

.shoes-flip-card-front,
.shoes-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.shoes-flip-card-back {
  transform: rotateY(180deg);
}

.dd-shoes-boxtext {
  color: white;
}

.dd-shoes-boxtext p {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  min-height: 40px;
  padding: 20px;
  text-align: center;
}

/* APPAREL */

.dd-apparel-three {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.dd-apparel-info {
  margin: 1%;
  width: 30%;
  display: block;
}

.apparel-flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
}

.apparel-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.apparel-flip-card:hover .apparel-flip-card-inner {
  transform: rotateY(180deg);
}

.apparel-flip-card-front,
.apparel-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.apparel-flip-card-back {
  transform: rotateY(180deg);
}

.dd-apparel-boxtext {
  color: white;
}

.dd-apparel-boxtext p {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  min-height: 40px;
  padding: 20px;
  text-align: center;
}

/* LEARN MORE */

.dd-learnmore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 350px;
  padding: 75px;
}

.dd-learnmore h1 {
  font-size: 36px;
  /* margin: 10px; */
  margin: 20px;
}

.dd-learnmore p {
  font-size: 17px;
  margin-left: 30px;
  margin-right: 30px;
}

.dd-learnmore ul{
  list-style-type: none;
  font-size: 17px;
  padding: 10px;

}

.dd-learnmore li{
  padding: 5px;
}

.dd-learnmore img{
  width: 175px;
  height: 125px:
}


hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  width: 95%;
}

/* FOOTER - CONTACT */
.dd-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 700px;
}

.dd-footer h1 {
  font-size: 36px;
  margin: 10px;
}

.dd-footer p {
  font-size: 17px;
  margin-left: 30px;
  margin-right: 30px;
}

/* FORM */

legend {
  text-align: center;
  font-size: 17px;
}

.dd-contact-form {
  text-align: center;
  width: 500px;
}

.dd-contact-form input,
label {
  margin: 15px 0px;
  font-size: 17px;
}

input,
button,
select,
textarea placeholder {
  display: block;
  text-align: center;
}

.checkbox input,
.checkbox label,
.radio input,
.radio label {
  display: inline;
}

input[type="text"] {
  color: white;
  height: 25px;
  width: 200px;
}

input:focus {
  background-color: rgb(0, 157, 255);
}


hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  width: 95%;
}

/* Modal */

.modal-button{
display:flex;
justify-content: center;
}

#myBtn {
 display: flex;
 justify-content: center;
  height: 50px;
  width: 200px;
  background-color: rgb(0, 157, 255);
  color: white;
  font-size: 17px;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0); 
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  font-family: "Nunito", Arial, sans-serif;
 text-align: center;
 color: #191970;
 font-size: 17px;
 margin: auto;
 padding: 20px;
 border: 1px solid #888;
 width: 80%;
}

.modal-content img{
  width: 100px;
  height: 50px:
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
